
  .react-flow__node {

    border-radius: 5px;
    background-color: salmon;


    &.selected {
        stroke: #0066ff;
        stroke-width: 2px;
        filter: brightness(1.1);
        border: 1px solid red;

      }
  }


  .react-flow__handle {
  }

  .react-flow__handle-top {}

  .react-flow__handle-right	 {}

  .react-flow__handle-bottom{}

  .react-flow__handle-left	{}

  .react-flow__handle-connecting {}

  .react-flow__handle-valid	{
    background-color: green;
  }