.xy-flow__node {
  background-color: red;
  &.selected {
    stroke: #0066ff;
    stroke-width: 2px;
    filter: brightness(1.1);
    border: 1px solid red;
  }
}

.xy-flow__handle {
}

.xy-flow__handle-top {
}

.xy-flow__handle-right {
}

.xy-flow__handle-bottom {
}

.xy-flow__handle-left {
}

.xy-flow__handle-connecting {
}

.xy-flow__handle-valid {
  background-color: green;
}
